<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="pull-left">
      <h3 class="panel-title">Contacts</h3>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary">Add User</button>
    </div>
  </div>
  <!-- List group -->
  <div class="panel-body">
    <cms-contact-item
    *ngFor="let eachPerson of contacts"
    [item]="eachPerson"
    (selectedPerson)="onSelectedPerson(eachPerson)"
    ></cms-contact-item>
  </div>
</div>
