.avatar {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
  }
  
  .avatar-img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.3125rem;
  }
  
  .avatar-circle {
    border-radius: 50%;
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }