<!-- <div class="panel panel-info">
  <div class="panel-body">
    <form id="contact-edit" [formGroup]="contactForm" (ngSubmit)="contactSubmit()">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name" class="control-label">Name:</label>
          <input type="text" id="name" class="form-control" size="120" max="120" formControlName="name" #name>
        </div>

        <span id="inputSuccess2Status" [ngClass]="{'sr-only': contactForm.get('name').valid}"></span>

        <span class="help-block mx-2" *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">
          Name is Required. Please fill the
          field!!</span>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" class="form-control required" size="120" max="255" formControlName="email"
            #email>
        </div>
        <span class="help-block mx-2" *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
          Email is Required. Please fill the
          field!!</span>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" class="form-control invalid" size="150" max="255" formControlName="phone"
            #phone>
        </div>
        <span class="help-block mx-2" *ngIf="!contactForm.get('phone').valid && contactForm.get('phone').touched">
          Phone Number is Required. Please fill the
          field!!</span>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" class="form-control" size="150" max="255" formControlName="imageUrl"
            #imageUrl>
        </div>
        <span class="help-block mx-2" *ngIf="!contactForm.get('imageUrl').valid && contactForm.get('imageUrl').touched">
          Image Url is Required. Please fill the
          field!!</span>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="groupList">Group Contacts:</label>

          <div class="row" id="groupList" style="min-height: 3rem;">

            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1">Drag contacts in group here</span>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit"
            [disabled]="!contactForm.valid">{{editMode ? 'Update': 'Save'}}</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div> -->

<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" class="form-control required" size="120" max="120" name="name"
            [ngModel]="contact?.name" #name="ngModel" required />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" class="form-control required" size="120" max="255" name="email"
            [ngModel]="contact?.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        Enter a valid Email address
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" class="form-control invalid" size="150" max="255" name="phone"
            [ngModel]="contact?.phone" #phone="ngModel" pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*" />
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
        Enter a valid phone number
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" class="form-control" size="150" max="255" name="imageUrl"
            [ngModel]="contact?.imageUrl" #imageUrl="ngModel" />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <label for="groupList">Group Contacts:</label>

          <div class="row" id="groupList" style="min-height: 3rem" cdkDropList #groupList="cdkDropList"
            [cdkDropListData]="groupContacts" (cdkDropListDropped)="addToGroup($event)"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item class="col-sm-11" [item]="contact"></cms-contact-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">
                  X
                </button>
              </div>
              <!-- <div>
                <div class="col-sm-10">
                  <a class="list-group-item d-flex">
                    <div class="item-left">
                      <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                    </div>
                    <div class="item-right avatar">
                      <img *ngIf="contact?.imageUrl" [src]="contact?.imageUrl" alt="{{contact?.name}}"
                        class="img-responsive img-rounded" />
                    </div>
                  </a>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger col-sm-2 deleteButton"><span class="glyphicon glyphicon-remove
                    "></span></button>
                </div>


              </div> -->
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1">Drag contacts in group here</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            {{ editMode ? "Update" : "Save" }}
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
